<div class="container" id="postings_list">
  <div class="btn-group">
    <%= select_tag "location", options_from_collection_for_select(@locations, "id", "name"), class: "btn btn-default", data: {remote: true, url: products_path} %>
  </div>
  <hr />
  <div class="container" id="postings_list">
    <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag(product.picture_url(:list_version).to_s)  %>
      </div>
      <div class="col-md-6">
        <h2><%= product.product_name %></h2>
        <p>
          <%= product.description %>
        </p>
      </div>
    </div>
    <hr />
    <% end %>
  </div>
</div>